@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Medium.ttf)
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5; /* Light grey background */
  }
  
  .logo {
    max-width: 120px; /* Adjust the size of your logo */
    margin-bottom: 50px; /* Space between logo and options */
  }
  
  .options {
    display: flex;
    gap: 15px; /* Space between the two boxes */
    flex-direction: column;
  }
  
  .box {
    width: 220px; /* Square boxes */
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f141a; /* Blue background */
    color: #ffffff; /* White text */
    border-radius: 3em; /* Curved borders */
    font-size: 20px; /* Larger text */
    cursor: pointer; /* Cursor changes to pointer on hover */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
  }
  
  .box:hover {
    background-color: #643ef0; /* Darker blue on hover */
  }
  
